%DMSans-700{
  font-family: 'DMSans-Bold_1', sans-serif;
  font-weight: 700;
}

%DMSans-700{
  font-family: 'DMSans-Bold_1', sans-serif;
  font-weight: 700; 
}

%DMSans-400{
  font-family: 'DMSans-Italic.woff', sans-serif;
  font-weight: 400;
}

%DMSans-700{
  font-family: 'DMSans-Medium.woff', sans-serif;
  font-weight: 700; 
}

%Rubik-400{
  font-family: 'Rubik-Italic-VariableFont_wght.woff', sans-serif;
  font-weight: 400; 
}

%Rubik-400{
  font-family: 'Rubik-VariableFont_wght.woff', sans-serif;
  font-weight: 400; 
}
